<form class="card p-md-4" method="post" asp-controller="Reservation" asp-action="CheckDates">
    <div class="form-group d-flex row">
        <div class="col">
            <label class="mx-auto" for="checkInDate">Check In:</label>
            <input type="date" class="form-control" id="checkInDate" name="CheckInDate" />
        </div>
        <div class="col-1"></div>
        <div class="col">
            <label class="text-center" for="checkOutDate">Check Out:</label>
            <input type="date" class="form-control" id="checkOutDate" name="CheckOutDate" />
        </div>
        
    </div>
    <button class="mt-4" type="submit">Check Availability</button>
    <!--    <h3 id="heading"></h3>    -->
</form>

<script>
    let date = new Date();
    let today = date.toLocaleDateString("en-NZ");
    let date2 = new Date();
    date2.setDate(date2.getDate() + 1)
    let tomorrow = date2.toLocaleDateString("en-NZ");
    //document.getElementById("heading").textContent = formatDate(tomorrow);
    document.getElementById("checkInDate").min = formatDate(today);
    document.getElementById("checkOutDate").min = formatDate(tomorrow);

    function formatDate(unFormatted) {
        let components = unFormatted.split("/");
        return components.reverse().join("-");
    }
</script>
