<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Booking</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate//jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary"
                 aria-label="HotelBookingApplication navigation header">
                <div class="container-xl">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="images/logo1.png" width="151" height="47" class="d-inline-block align-top mb-2 mt-1"
                             alt="DoubleTree logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a asp-controller="RoomType" asp-action="List" class="nav-link">Accomodation</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Reservation" asp-action="Index" class="nav-link">Reserve a Room</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Contact" asp-action="Index" class="nav-link">Contact Us</a>
                            </li>
                        </ul>
                        <vc:shopping-cart-summary />
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
